.axis
  %ul.nav.nav-tabs{data:{current:current}}
    %li.disabled
      %a Year:
    - axes[:year].each do | value|
      - if (current.to_s == value[:value].to_s)
        %li.active
          %a=value[:text]
      - else
        %li{data:{value:value[:value]}}
          %a{href:value[:href]}=value[:text]

