.card
  %header
    %h2.title= card.title
    %img{src:card.image}
    %p.description= html_escape(card.description)
  %ul.data
    %li.total 9,000
    %li.gender-totals
      .men 4,000
      .women 6,000
  %a.btn.btn-xlarge.btn-success{href:'#',} more info
