%section.face-off
  .container
    .row
      %h1 What is more deadly?
    .row
      .span5
        .competitor
          %header
            %h2.title= first.title
            %img{src:first.image}
      .span2
        %h3.vs vs
      .span5
        .competitor
          %header
            %h2.title= second.title
            %img{src:second.image}
    .row
      %button.btn.btn-xlarge.btn-inverse
        Data Deathmatch