%section.face-off
  .container
    .row
      %h1 What is more dangerous?
    .row
      .span5
        .competitor
          %a{:href => "#"}
            %img.mascot{:src => "images/illustrations/character-1.png"}/
          %button.btn.btn-xlarge.btn-primary Killer Sharks
      .span2
        %h3.vs vs
      .span5
        .competitor
          %a{:href => "#"}
            %img.mascot{:src => "images/illustrations/character-2.png"}/
          %button.btn.btn-xlarge.btn-inverse Birth Control
          