%table
  %tr
    %th Name
    %th Males
    %th Females
    %th Persons
  - rows.each do |row|
    %tr
      %td
        - if (row.children.length > 0)
          %a{href: "/data_point/#{row.id}"}=row.name
        - else
          =row.name
      %td=row.males
      %td=row.females
      %td=row.persons
