- if (rows.length > 0)
  %table.table.table-hover.table-condensed
    %tr
      %th Name
      %th Males
      %th Females
      %th Persons
    - rows.each do |row|
      %tr
        %td
          %a{href: "/data_point/#{row.id}"}=row.name
        %td=row.males
        %td=row.females
        %td=row.persons
