@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);

@import "cards";
@import "footer";
@import "winner";
@import "social";
@import "charts";

$btn-shadow-height: 8px;
$btn-border-radius: 8px;

.vote-for-death{

  background: $midnight-blue;
  color: white;
  padding: 20px;

  h4{
    margin-top: 16px;
  }
  .btn.btn-large{
    box-shadow: 0 6px 0 0 $belize-hole;
    position: relative;
    margin-bottom: 8px;
  } 
  .btn.btn-large:hover, 
  .btn.btn-large:focus{
    box-shadow: 0 0 0 0 $belize-hole;
    outline: none;
    bottom: -6px;
  }
}
section{
  padding: 40px 20px;
}
body{
  padding: 0;
}
.face-off{
  background-color: $clouds;
  text-align: center;
  padding-bottom: 60px;
}
.face-off h1{
  font-family: $headline-font;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 600%;
  line-height: 1;
}
.competitor{
  text-align: center;
  margin-bottom: 60px;
}
.competitor .mascot{
  width: 100%;
}
.vs{
  font-family: $headline-font;
  font-size: 400%;
  color: $alizarin;
  line-height: 60px;
}
.btn{
  border-radius: $btn-border-radius;
  position: relative;
  text-shadow: 0 -2px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-weight: 800;
}
.btn:hover, 
.btn:focus{
  text-shadow: 0 -2px 0 rgba(0,0,0,0.2);
}
.btn.btn-caution{
  background: $carrot;
}
.btn.btn-xlarge {
  font-family: $base-font;
  padding: 17px 21px;
  font-size: 26.5px;
  font-weight: 800;
  box-shadow: 0 $btn-shadow-height 0 0 $midnight-blue;
  text-shadow: 0 -2px 0 $midnight-blue;
  text-transform: uppercase;
  margin-bottom: $btn-shadow-height+10;
}
.btn-xlarge:hover,
.btn-xlarge:focus{
  box-shadow: 0 0 0 0 $midnight-blue;
}
.btn-xlarge.btn-primary{
  box-shadow: 0 $btn-shadow-height 0 0 $midnight-blue;
  text-shadow: 0 -2px 0 $midnight-blue;
}
.btn-xlarge.btn-primary:hover,
.btn-xlarge.btn-primary:focus{
  box-shadow: 0 0 0 0 $midnight-blue;
}
.btn-xlarge.btn-info{
  box-shadow: 0 $btn-shadow-height 0 0 $belize-hole;
  text-shadow: 0 -2px 0 $belize-hole;
}
.btn-xlarge.btn-info:hover,
.btn-xlarge.btn-info:focus{
  box-shadow: 0 0 0 0 $belize-hole;
}
.btn-xlarge.btn-danger{
  box-shadow: 0 $btn-shadow-height 0 0 $pomegranate;
  text-shadow: 0 -2px 0 $pomegranate;
}
.btn-xlarge.btn-danger:hover,
.btn-xlarge.btn-danger:focus{
  box-shadow: 0 0 0 0 $pomegranate;
}
.btn-xlarge.btn-success{
  box-shadow: 0 $btn-shadow-height 0 0 $green-sea;
  text-shadow: 0 -2px 0 $green-sea;
}
.btn-xlarge.btn-success:hover,
.btn-xlarge.btn-success:focus{
  box-shadow: 0 0 0 0 $green-sea;
}
.btn-xlarge.btn-warning{
  box-shadow: 0 $btn-shadow-height 0 0 $orange;
  text-shadow: 0 -2px 0 $orange;
}
.btn-xlarge.btn-warning:hover,
.btn-xlarge.btn-warning:focus{
  box-shadow: 0 0 0 0 $orange;
}
.btn.btn-caution{
  background: $pumpkin;
}
.btn-xlarge.btn-caution{
  box-shadow: 0 $btn-shadow-height 0 0 $pumpkin;
  text-shadow: 0 -2px 0 $pumpkin;
}
.btn-xlarge.btn-caution:hover,
.btn-xlarge.btn-caution:focus{
  background: $carrot;
  box-shadow: 0 0 0 0 $pumpkin;
}
.btn.btn-inverse{
  background: #D35400;
}
.btn-xlarge.btn-inverse{
  background: $amethyst;
  box-shadow: 0 $btn-shadow-height 0 0 $wisteria;
  text-shadow: 0 -2px 0 $wisteria;
}
.btn-xlarge.btn-inverse:hover,
.btn-xlarge.btn-inverse:focus{
  background: #af7ac5;
  box-shadow: 0 0 0 0 $wisteria;
}
.btn.btn-xlarge:hover, 
.btn.btn-xlarge:focus{
  outline: none;
  bottom: -8px;
}
@media (min-width: 768px) and (max-width: 979px) {


}
@media (max-width: 767px) {
  .vote-for-death{
    h4{
      text-align: center;
    }
  }
}
@media (max-width: 480px) {


}
@media (min-width: 979px) {

  .vs{  line-height: 290px;  }

}
@media (min-width: 980px) {

  .vs{  line-height: 480px;  }

}